<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="boo.css">
</head>
<body>
    <h1>Create Book</h1>
    <form action="" method="post">
        {% csrf_token %}
        <label>BOOK NAME:</label><input type="text" name="title">
        <label>BOOK PRICE:</label><input type="text" name="price">
        <input type="Submit" value="submit">
        <h2>VIEW THE LIST OF BOOK IN YOU DATA COLLECTION</h2><a href="{%url 'list' %}" class="btn btn-light">view</a></td>



    
    </form>
</body>
</html>